.vscode/
.vs/
build/*
/build
out/
vcpkg-overlay/
CMakeSettings.json
vcpkg.json
sprawozdanie/.~lock.Czapla_Kasprzycki_Blazewicz-projekt-gra.odt#
sprawozdanie/Czapla_Kasprzycki_Blazewicz-projekt-gra.odt
prezentacja/.~lock.Blazewicz_Czapla_Kasprzycki_prezentacja.odp#
prezentacja/Blazewicz_Czapla_Kasprzycki_prezentacja.odp